* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-touch-callout: none;

  /* prevent webkit from resizing text to fit */
  -webkit-text-size-adjust: none;

  /* prevent copy paste, to allow, change 'none' to 'text' */
  -webkit-user-select: none;

  background-color: #E4E4E4;
  background-attachment: fixed;

  font-size: 12px;
  font-family:
    'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

footer {
  position: fixed;
  right: 1em;
  left: 1em;
  bottom: 1em;
  text-align: center;
}

footer a {
  color: #00BCD4;
  font-weight: bold;
}

#app {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#options {
  margin: 1em auto;
  width: 80%;
}

#options label {
  display: block;
}

.is-small-screen .mdl-layout__content { padding-top: 5em; }

.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  max-width: 90%;
  max-height: 90%;
  width: 100%;
  height: auto;

  text-align: center;
  vertical-align: center;
}

.hidden { display: none; }

#no-results {
  font-size: 5em;
  text-align: center;
  line-height: 1.1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.mdl-card {
  margin: 1em;
  width: 25em;
  min-height: 150px;
}

/* Ratings */
.rating { color: #e7711b; }
.rating > .star { display: inline-block; }
.rating > .star:before {
  content: "\2606";
  font-weight: bold;
}

.rating > .star.set:before { content: "\2605"; }

/* Card */
.status.closed { color: #cc0000; }

.more-info { display: none; }

.mdl-card img {
  width: auto;
  height: 80px;
}

.mdl-card__title {
  padding-bottom: 0;
  align-items: flex-start;
}

.mdl-card__title > h4 { margin-top: 0; }

.mdl-card__supporting-text { padding-top: 0; }

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.mdl-card__actions > .material-icons { padding-right: 10px; }
